<div class="row">
    <div class="col s12">
        <h1 style="text-align: center;margin-top: 50px;color: teal;">QuizZr</h1>
    </div>
</div>

<div class="row">
    <div class="col m12 center-align">
        <p style="font-size:25px;">Welcome to quizZr, the fastest way to start a fun Quiz night. </p>
        <p style="font-size:25px;">Press the create button to create your very own QuizZ.</p>
        <button class="btn btn-large waves-effect waves-light" style="margin-top:25px" ng-click="nqc.startQuiz()">Create</button>
    </div>
</div>