<div class="row">
    <div class="col m12">
        <h1 style="text-align: center;margin-top: 50px;color: teal;">QuizZr</h1>
    </div>
</div>

<div class="row">
    <div class="col m12">
        <h5 style="text-align: center;">Choose a question</h5>
    </div>
</div>

<div class="row">
    <div class="input-field col m6 offset-m3" style="margin-top:35px;">
        <select ng-model="cqc.firstC">
            <option value="" selected>None</option>
            <option ng-repeat="q in cqc.firstQ.questions" value="{{q}}">{{ q.question }}</option>
        </select>
        <label>Questions from {{cqc.firstQ.category}}</label>
    </div>
</div>

<div class="row" style="margin-top:35px">
    <div class="input-field col m4 offset-m1">
        <select ng-model="cqc.secondC">
            <option value="" selected>None</option>
            <option ng-repeat="q in cqc.secondQ.questions" value="{{q}}">{{ q.question }}</option>
        </select>
        <label>Questions from {{cqc.secondQ.category}}</label>
    </div>
    <div class="input-field col m4 offset-m2">
        <select ng-model="cqc.thirdC">
            <option value="" selected>None</option>
            <option ng-repeat="q in cqc.thirdQ.questions" value="{{q}}">{{ q.question }}</option>
        </select>
        <label>Questions from {{cqc.thirdQ.category}}</label>
    </div>
</div>

<div class="row">
    <button class="btn btn-large col m6 offset-m3 waves-effect waves-light" style="margin-top: 30px;" ng-click="cqc.chooseQuestion()">Select</button>
</div>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>