<div class="row">
    <div class="col m12">
        <h1 style="text-align: center;margin-top: 50px;color: teal;">QuizZr</h1>
    </div>
</div>

<div class="row" ng-show="jc.stillAccepting">
    <div class="col m10 offset-m1">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <h5 style="text-align: center">Waiting on answers..</h5>
    </div>
</div>

<div class="row">
    <div class="col m12 center-align">
        <h5>Right answer: <span style="font-size: 120%; font-weight: bold;">{{jc.currentquestion.answer}}</span></h5>
    </div>
</div>

<div class="row">
    <button class="btn btn-large red waves-effect waves-light col m4 offset-m1" style="margin-top:15px;margin-bottom:15px;" ng-disabled="!jc.stillAccepting" ng-click="jc.stopAccepting()">Stop accepting</button>
    <button class="btn btn-large red waves-effect waves-light col m4 offset-m2" style="margin-top:15px;margin-bottom:15px;" ng-disabled="jc.stillAccepting" ng-click="jc.next()">Next</button>
</div>

<div class="row">

    <div ng-repeat="team in jc.teams" ng-show="team.currentanswer" class="col s12 m6">
        <div class="card" ng-class="jc.getCardClass(team.judged)">
            <div class="card-content white-text">
                <span class="card-title">{{team.name}}</span>
                <p>{{team.currentanswer}}</p>
            </div>
            <div class="card-action">
                <a ng-click="jc.approveAnswer(team.name)">A p p r o v e</a>
                <a ng-click="jc.rejectAnswer(team.name)">R e j e c t</a>
            </div>
        </div>
    </div>

</div>